/Bin/
/Dicts
*.orst
*.otst
*.d
*.a
*.so
*.orsh
*.odsh
*.bin
/Source/StatDatBin/StatDatBin
/Source/StructDictLoader/StructDictLoader
/Source/SynanCGI/SynanCGItst
/Source/SynanDaemon/SynanDaemontst
/Source/TestLem/TestLem
/Source/TestSeman/TestSeman
/Source/TestSynan/TestSynan
/Source/WordDatBin/WordDatBin
/Source/asp_read/asp_read
/Source/deriv_read/deriv_read
/Source/SimpleGrammarPrecompiled/SimpleGrammarPrecompiled
/Source/AprDictGen/AprDictGen
/Source/ConvertTrigramBinary/ConvertTrigramBinary
/Source/FileLem/FileLem
/Source/GenFreqDict/GenFreqDict
/Source/GenSynDict/GenSynDict
/Source/GraphmatThick/GraphmatThick
/Source/MorphGen/MorphGen
/Source/Dialing.creator.user
/java/nbproject/private/
/Source/SimpleGrammarLib/unix_chunker_lex.cpp
/Source/SimpleGrammarLib/unix_chunker_yacc.cpp
/Source/SimpleGrammarLib/unix_chunker_yacc.h
/java/dist/
/java/build/