/Bin/
/Dicts
*.orst
*.otst
*.d
*.a
*.orsh
*.bin
/Source/StatDatBin/StatDatBin
/Source/StructDictLoader/StructDictLoader
/Source/SynanCGI/SynanCGItst
/Source/SynanDaemon/SynanDaemontst
/Source/TestLem/TestLem
/Source/TestSeman/TestSeman
/Source/TestSynan/TestSynan
/Source/WordDatBin/WordDatBin
/Source/asp_read/asp_read
/Source/deriv_read/deriv_read
/Source/SimpleGrammarPrecompiled/SimpleGrammarPrecompiled
/Source/AprDictGen/AprDictGen
/Source/ConvertTrigramBinary/ConvertTrigramBinary
/Source/FileLem/FileLem
/Source/GenFreqDict/GenFreqDict
/Source/GenSynDict/GenSynDict
/Source/GraphmatThick/GraphmatThick
/Source/MorphGen/MorphGen
